{% extends 'base.html.twig' %}

{% block title %}Classes{% endblock %}

{% block body %}

        <h1 class="d-flex justify-content-center ">{{ class["class_name"] }}</h1>
    <div class="row justify-content-end">
        <a class="btn btn-primary mb-3 mr-3" href="{{ path('character.create', {class: class}) }}">Make New Character</a>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th>{{ class["class_name"] }}</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th>Hit Die</th>
                <td>
                    {{ class['hit_die'] }}
                </td>
            </tr>
            <tr>
                <th scope="row">proficiencies</th>
                <td>
                    {% for p in class['proficiencies']['primary'] %}
                        {{ p }},
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row">proficiency Choices</th>
                {% for proficiency_options in class['proficiencies']['options'] %}
                <td>
                    <label>choose {{ class['proficiencies']['choose'][loop.revindex0] }}</label>
                    <br>
                    <select multiple>

                    {% for p in proficiency_options %}
                        <option>
                        {{ p }}
                        </option>
                    {% endfor %}
                    </select>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Saving Throws</th>
                <td>
                    {% for s in class['saving_throws'] %}
                        {{ s }},
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row">Starting Equipment</th>
                <td>
                    {% for primary_equipment in class['starting_equipment']['primary'] %}
                        {{ primary_equipment }},
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row">Starting Equipment Options</th>
                <td class="d-flex">
                    {% for equipment_options in class['starting_equipment']['options'] %}
                        <div class="d-flex flex-column px-3">
                        <label>
                            Choose {{ class['starting_equipment']['choose'][loop.index0] }}:
                        </label>
                    <select multiple>
                        {% for option in equipment_options %}
                            <option class="pr-3">
                                {{ option }}
                            </option>
                        {% endfor %}
                    </select>
                        </div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row">Levels</th>
                <th>Features</th>
            </tr>
            {% for l in levels %}
            {% if l['subclass'] is not defined %}
                    <tr>
                        <th>{{ l['level'] }}</th>
                        {% if l['features'] is iterable %}
                                <td>
                            {% for f in l['features'] %}
                                    {{ f['name'] }},
                            {% endfor %}
                                </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
